[client]
socket=/run/mysql/mysqld.sock

[mysqld]
pid-file=/run/mysql/mysql.pid
socket=/run/mysql/mysqld.sock
sql_mode=NO_ENGINE_SUBSTITUTION 
default-storage-engine=INNODB
innodb_large_prefix=on
innodb_file_format=Barracuda
