[client]
socket=/home/work/workplace/mysql/mysqld.sock

[mysqld]
pid-file=/home/work/workplace/mysql/mysql.pid
socket=/home/work/workplace/mysql/mysqld.sock
sql_mode=NO_ENGINE_SUBSTITUTION 
default-storage-engine=INNODB
innodb_large_prefix=on
innodb_file_format=Barracuda
